In [2]:
import pickle

In [3]:
# 통합 데이터 불러오기
with open('./dacon_total_df_240504_00.pkl', 'rb') as f:
    df = pickle.load(f)

In [4]:
# 주문일 비교를 위한 날짜 컬럼 추가
df['day'] = df.Order_purchase_timestamp.dt.day
df['YearMonthDay'] = df['Order_purchase_timestamp'].dt.strftime('%Y%m%d')

df

,Order_id,Product_id,Seller_id,Order_purchase_year,Order_purchase_month,Review_id,Review_score,Review_creation_date,Review_answer_timestamp,Price,...,time_diff_purchase_customer,time_diff_carrier_customer,time_diff_customer_delivery,time_diff_purchase_carrier_second,time_diff_purchase_customer_second,time_diff_carrier_customer_second,time_diff_customer_delivery_second,YearMonth,day,YearMonthDay
0,ORDER_00329,PRODUCT_07734,SELLER_0146,2017,10,REVIEW_65349,1,2017-10-21,2017-10-22 10:10:28,75.00,...,11 days 07:04:11,6 days 11:49:36,51 days 09:24:00,414875.0,975851.0,560976.0,4440240.0,201710,5,20171005
1,ORDER_00616,PRODUCT_04278,SELLER_0914,2017,10,REVIEW_21396,1,2017-10-22,2017-10-24 23:33:19,294.90,...,8 days 00:36:27,3 days 00:00:00,46 days 08:15:33,434187.0,693387.0,259200.0,4004133.0,201710,5,20171005
2,ORDER_01235,PRODUCT_23369,SELLER_1445,2017,10,REVIEW_50469,3,2017-10-25,2017-10-26 23:52:15,93.90,...,7 days 00:33:27,3 days 00:00:00,49 days 09:13:11,347607.0,606807.0,259200.0,4266791.0,201710,4,20171004
3,ORDER_01293,PRODUCT_04377,SELLER_2603,2017,10,REVIEW_75101,1,2017-10-27,2017-10-27 10:41:59,44.90,...,20 days 16:37:27,2 days 05:56:15,34 days 06:27:53,1593672.0,1787847.0,194175.0,2960873.0,201710,7,20171007
4,ORDER_02078,PRODUCT_21531,SELLER_2660,2017,10,REVIEW_58071,4,2017-10-28,2018-01-08 15:09:32,39.90,...,21 days 23:20:46,5 days 19:58:31,32 days 11:26:31,1394535.0,1898446.0,503911.0,2805991.0,201710,5,20171005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90188,ORDER_87982,PRODUCT_29370,SELLER_0335,2019,7,REVIEW_24242,4,2019-07-13,2019-07-15 14:23:30,24.90,...,6 days 06:30:13,3 days 08:50:52,12 days 06:11:08,250761.0,541813.0,291052.0,1059068.0,201907,6,20190706
90189,ORDER_88004,PRODUCT_02102,SELLER_1628,2019,7,REVIEW_72610,5,2019-07-28,2019-07-29 02:33:56,70.00,...,3 days 01:05:13,1 days 11:35:17,4 days 00:56:43,134996.0,263113.0,128117.0,349003.0,201907,24,20190724
90190,ORDER_88021,PRODUCT_22041,SELLER_1230,2019,7,REVIEW_55262,5,2019-07-26,2019-07-26 22:20:21,40.99,...,4 days 16:36:34,2 days 01:24:40,11 days 06:22:20,227514.0,405394.0,177880.0,973340.0,201907,21,20190721
90191,ORDER_88035,PRODUCT_02524,SELLER_1627,2019,7,REVIEW_32238,5,2019-07-25,2019-07-26 01:32:39,31.50,...,9 days 23:01:43,8 days 10:15:59,14 days 04:41:01,132344.0,860503.0,728159.0,1226461.0,201907,14,20190714
90192,ORDER_88059,PRODUCT_08954,SELLER_0612,2019,7,REVIEW_30982,5,2019-07-25,2019-07-26 10:33:47,159.00,...,2 days 05:48:00,1 days 07:34:38,6 days 01:13:22,80002.0,193680.0,113678.0,522802.0,201907,22,20190722

In [5]:
# 원본 데이터 보존을 위해 복사본 사용
df_copy = df.copy()

df_copy

,Order_id,Product_id,Seller_id,Order_purchase_year,Order_purchase_month,Review_id,Review_score,Review_creation_date,Review_answer_timestamp,Price,...,time_diff_purchase_customer,time_diff_carrier_customer,time_diff_customer_delivery,time_diff_purchase_carrier_second,time_diff_purchase_customer_second,time_diff_carrier_customer_second,time_diff_customer_delivery_second,YearMonth,day,YearMonthDay
0,ORDER_00329,PRODUCT_07734,SELLER_0146,2017,10,REVIEW_65349,1,2017-10-21,2017-10-22 10:10:28,75.00,...,11 days 07:04:11,6 days 11:49:36,51 days 09:24:00,414875.0,975851.0,560976.0,4440240.0,201710,5,20171005
1,ORDER_00616,PRODUCT_04278,SELLER_0914,2017,10,REVIEW_21396,1,2017-10-22,2017-10-24 23:33:19,294.90,...,8 days 00:36:27,3 days 00:00:00,46 days 08:15:33,434187.0,693387.0,259200.0,4004133.0,201710,5,20171005
2,ORDER_01235,PRODUCT_23369,SELLER_1445,2017,10,REVIEW_50469,3,2017-10-25,2017-10-26 23:52:15,93.90,...,7 days 00:33:27,3 days 00:00:00,49 days 09:13:11,347607.0,606807.0,259200.0,4266791.0,201710,4,20171004
3,ORDER_01293,PRODUCT_04377,SELLER_2603,2017,10,REVIEW_75101,1,2017-10-27,2017-10-27 10:41:59,44.90,...,20 days 16:37:27,2 days 05:56:15,34 days 06:27:53,1593672.0,1787847.0,194175.0,2960873.0,201710,7,20171007
4,ORDER_02078,PRODUCT_21531,SELLER_2660,2017,10,REVIEW_58071,4,2017-10-28,2018-01-08 15:09:32,39.90,...,21 days 23:20:46,5 days 19:58:31,32 days 11:26:31,1394535.0,1898446.0,503911.0,2805991.0,201710,5,20171005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90188,ORDER_87982,PRODUCT_29370,SELLER_0335,2019,7,REVIEW_24242,4,2019-07-13,2019-07-15 14:23:30,24.90,...,6 days 06:30:13,3 days 08:50:52,12 days 06:11:08,250761.0,541813.0,291052.0,1059068.0,201907,6,20190706
90189,ORDER_88004,PRODUCT_02102,SELLER_1628,2019,7,REVIEW_72610,5,2019-07-28,2019-07-29 02:33:56,70.00,...,3 days 01:05:13,1 days 11:35:17,4 days 00:56:43,134996.0,263113.0,128117.0,349003.0,201907,24,20190724
90190,ORDER_88021,PRODUCT_22041,SELLER_1230,2019,7,REVIEW_55262,5,2019-07-26,2019-07-26 22:20:21,40.99,...,4 days 16:36:34,2 days 01:24:40,11 days 06:22:20,227514.0,405394.0,177880.0,973340.0,201907,21,20190721
90191,ORDER_88035,PRODUCT_02524,SELLER_1627,2019,7,REVIEW_32238,5,2019-07-25,2019-07-26 01:32:39,31.50,...,9 days 23:01:43,8 days 10:15:59,14 days 04:41:01,132344.0,860503.0,728159.0,1226461.0,201907,14,20190714
90192,ORDER_88059,PRODUCT_08954,SELLER_0612,2019,7,REVIEW_30982,5,2019-07-25,2019-07-26 10:33:47,159.00,...,2 days 05:48:00,1 days 07:34:38,6 days 01:13:22,80002.0,193680.0,113678.0,522802.0,201907,22,20190722

In [6]:
# 유니크한 구매 일수를 구하기 위해 필요한 컬럼 추출
df_copy2 = df_copy[['YearMonthDay', 'Customer_unique_id']]

df_copy2

      YearMonthDay     Customer_unique_id
0         20171005  CUSTOMER_Unique_06197
1         20171005  CUSTOMER_Unique_74990
2         20171004  CUSTOMER_Unique_35969
3         20171007  CUSTOMER_Unique_15296
4         20171005  CUSTOMER_Unique_75617
...            ...                    ...
90188     20190706  CUSTOMER_Unique_60513
90189     20190724  CUSTOMER_Unique_51078
90190     20190721  CUSTOMER_Unique_19150
90191     20190714  CUSTOMER_Unique_15573
90192     20190722  CUSTOMER_Unique_49261

[90193 rows x 2 columns]

In [7]:
# 중복 row 삭제
# Customer_unique_id 가 주문 했던 날짜 1줄씩만 볼 수 있음
df_copy3 = df_copy2.drop_duplicates(subset=['YearMonthDay', 'Customer_unique_id'])

df_copy3

      YearMonthDay     Customer_unique_id
0         20171005  CUSTOMER_Unique_06197
1         20171005  CUSTOMER_Unique_74990
2         20171004  CUSTOMER_Unique_35969
3         20171007  CUSTOMER_Unique_15296
4         20171005  CUSTOMER_Unique_75617
...            ...                    ...
90188     20190706  CUSTOMER_Unique_60513
90189     20190724  CUSTOMER_Unique_51078
90190     20190721  CUSTOMER_Unique_19150
90191     20190714  CUSTOMER_Unique_15573
90192     20190722  CUSTOMER_Unique_49261

[86069 rows x 2 columns]

In [8]:
# Customer_unique_id 의 갯수를 센 컬럼 추가
# 구매했던 날짜의 수를 의미
# 구매일수가 1인 경우에는 재구매를 하지 않은 사람 2 이상의 경우 재구매를 한 사람
df_copy4 = df_copy3.groupby(by='Customer_unique_id')['Customer_unique_id'].value_counts().reset_index()
# 컬럼 이해를 돕기 위해 컬럼명 변경
df_copy4.rename(columns={'count':'구매일수'},inplace=True)

df_copy4

          Customer_unique_id  구매일수
0      CUSTOMER_Unique_00000     1
1      CUSTOMER_Unique_00001     1
2      CUSTOMER_Unique_00002     1
3      CUSTOMER_Unique_00003     1
4      CUSTOMER_Unique_00004     2
...                      ...   ...
84125  CUSTOMER_Unique_85234     1
84126  CUSTOMER_Unique_85235     1
84127  CUSTOMER_Unique_85236     1
84128  CUSTOMER_Unique_85237     1
84129  CUSTOMER_Unique_85238     1

[84130 rows x 2 columns]